<!-- Form to edit past events -->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Past Event</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <form action="/editPast/<%= pastEvents.event_id %>" method="POST">
        <table>
            <caption>Edit Past Event</caption>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" id="description" name="description" value="<%= pastEvents.description %>" required></td>
            </tr>
            <tr>
                <td><label for="anticipated_participants">Anticipated Participants</label></td>
                <td><input type="number" id="anticipated_participants" name="anticipated_participants" value="<%= pastEvents.anticipated_participants %>"></td>
            </tr>
            <tr>
                <td><label for="actual_participants">Actual Participants</label></td>
                <td><input type="number" id="actual_participants" name="actual_participants" value="<%= pastEvents.actual_participants %>"></td>
            </tr>
            <tr>
                <td><label for="under_ten">Under Ten</label></td>
                <td><input type="number" id="under_ten" name="under_ten" value="<%= pastEvents.under_ten %>"></td>
            </tr>
            <tr hidden>
                <td><label for="possible_date">Requested Date</label></td>
                <td><input type="date" id="possible_date" name="possible_date" value="<%= pastEvents.possible_date.toISOString().split('T')[0] %>"></td>
            </tr>
            <tr>
                <td><label for="actual_date">Actual Date</label></td>
                <td><input type="date" id="actual_date" name="actual_date" value="<%= new Date().toISOString().split('T')[0] %>"></td>
            </tr>
            <tr>
                <td><label>Event Type</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="type" value="Sewing" <%= pastEvents.type === 'Sewing' ? 'checked' : '' %>> Sewing<br>
                    <input type="radio" name="type" value="Non-sewing"<%= pastEvents.type === 'Non-sewing' ? 'checked' : '' %>> Non-sewing<br>
                    <input type="radio" name="type" value="Both" <%= pastEvents.type === 'Non-sewing' ? 'checked' : '' %>> Both
                </td>
            </tr>
            <tr>
                <td><label for="street_address">Street Address</label></td>
                <td><input type="text" id="street_address" name="street_address" value="<%= pastEvents.street_address %>"></td>
            </tr>
            <tr>
                <td><label for="start_time">Start Time</label></td>
                <td><input type="time" id="start_time" name="start_time" value="<%= pastEvents.start_time %>"></td>
            </tr><tr>
                <td><label for="duration">Duration</label></td>
                <td><input type="text" id="duration" name="duration" value="<%= pastEvents.duration %>"></td>
            </tr>
            <tr>
                <td><label for="contact_name">Contact Name</label></td>
                <td><input type="text" id="contact_name" name="contact_name" value="<%= pastEvents.contact_name %>"></td>
            </tr>
            <tr>
                <td><label for="contact_phone">Contact Phone</label></td>
                <td><input type="text" id="contact_phone" name="contact_phone" value="<%= pastEvents.contact_phone %>"></td>
            </tr>
            <tr>
                <td><label for="contact_email">Contact Email</label></td>
                <td><input type="text" id="contact_email" name="contact_email" value="<%= pastEvents.contact_email %>"></td>
            </tr>
            <tr>
                <td><label for="machines">Machines</label></td>
                <td><input type="number" id="machines" name="machines" value="<%= pastEvents.machines %>"></td>
            </tr>
            <tr>
                <td><label for="sewers">Sewers</label></td>
                <td><input type="number" id="sewers" name="sewers" value="<%= pastEvents.sewers %>"></td>
            </tr>
            <tr>
                <td><label>Did Jen share her story?</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="story" value="Yes, long" <%= pastEvents.story === 'Yes, long' ? 'checked' : '' %>> Yes, Long<br>
                    <input type="radio" name="story" value="Yes, short" <%= pastEvents.story === 'Yes, short' ? 'checked' : '' %>> Yes, Short<br>
                    <input type="radio" name="story" value="No" <%= pastEvents.story === 'No' ? 'checked' : '' %>> No
                </td>
            </tr>
            <tr>
                <td><label for="pockets">Pockets Completed</label></td>
                <td><input type="number" id="pockets" name="pockets" value="<%= pastEvents.pockets %>"></td>
            </tr>
            <tr>
                <td><label for="collars">Collars Completed</label></td>
                <td><input type="number" id="collars" name="collars" value="<%= pastEvents.collars %>"></td>
            </tr>
            <tr>
                <td><label for="envelopes">Envelopes Completed</label></td>
                <td><input type="number" id="envelopes" name="envelopes" value="<%= pastEvents.envelopes %>"></td>
            </tr>
            <tr>
                <td><label for="vests">Vests Completed</label></td>
                <td><input type="number" id="vests" name="vests" value="<%= pastEvents.vests %>"></td>
            </tr>
            <tr>
                <td><label for="members_needed">Members Needed</label></td>
                <td><input type="number" id="members_needed" name="members_needed" value="<%= pastEvents.members_needed %>"></td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="status" value="Pending" <%= pastEvents.status === 'Pending' ? 'checked' : '' %>> Pending<br>
                    <input type="radio" name="status" value="Approved" <%= pastEvents.status === 'Approved' ? 'checked' : '' %>> Approved<br>
                    <input type="radio" name="status" value="Denied" <%= pastEvents.status === 'No' ? 'Denied' : '' %>> Denied<br>
                    <input type="radio" name="status" value="Completed" <%= pastEvents.status === 'No' ? 'Completed' : '' %>> Completed
                </td>
            </tr>
            <tr>
                <td><label for="notes">Notes</label></td>
                <td><input type="text" id="notes" name="notes" value="<%= pastEvents.notes %>"></td>
            </tr>
        </table>
    </form>

    <form action="/pastEvents" method="GET">
        <button type="submit">Back</button>
    </form>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
