<!-- Form to add a past event -->

<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <form action="/editUser/<%= members.volunteer_id %>" method="POST">
        <table>
            <caption>Edit Team Member</caption>
            <input type="hidden" id="volunteer_id" name="volunteer_id" value="<%= members[0].volunteer_id %>">
            <tr>
                <td><label for="first_name">First Name</label></td>
                <td><input type="text" id="first_name" name="first_name" required value="<%= members[0].first_name %>"></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name</label></td>
                <td><input type="text" id="last_name" name="last_name" required value="<%= members[0].last_name %>"></td>
            </tr>
            <tr>
                <td><label for="phone">Phone Number</label></td>
                <td><input type="text" id="phone" name="phone" required value="<%= members[0].phone %>"></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" id="email" name="email" required value="<%= members[0].email %>"></td>
            </tr>
            <tr>
                <td><label for="referral_source">Referral Source</label></td>
                <td>
                    <select id="referral_source" name="referral_source" required>
                        <option value="" disabled>Select an option from the dropdown</option>
                        <option value="Word of mouth" <%= members[0].referral_source === 'Word of mouth' ? 'selected' : '' %>>Word of mouth</option>
                        <option value="Podcast" <%= members[0].referral_source === 'Podcast' ? 'selected' : '' %>>Podcast</option>
                        <option value="Online" <%= members[0].referral_source === 'Online' ? 'selected' : '' %>>Online</option>
                        <option value="Service activity" <%= members[0].referral_source === 'Service activity' ? 'selected' : '' %>>Service activity</option>
                        <option value="Other" <%= members[0].referral_source === 'Other' ? 'selected' : '' %>>Other</option>
                    </select>
                </td>
            </tr>            
            <tr>
                <td><label>Sewing Level</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="sewer" value="Beginner" <%= members[0].sewing_level == "Beginner" ? "checked" : "" %>> Beginner<br>
                    <input type="radio" name="sewer" value="Intermediate" <%= members[0].sewing_level == "Intermediate" ? "checked" : "" %>> Intermediate<br>
                    <input type="radio" name="sewer" value="Experienced" <%= members[0].sewing_level == "Experienced" ? "checked" : "" %>> Experienced
                </td>
            </tr>
            <tr>
                <td><label for="monthly_hours">Monthly Hours</label></td>
                <td><input type="number" step="0.01" id="monthly_hours" name="monthly_hours" required value="<%= members[0].monthly_hours %>"></td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" name="city" required value="<%= members[0].city %>"></td>
            </tr>
            <tr>
                <td><label for="travel">Travel</label></td>
                <td><input type="text" id="travel" name="travel" required value="<%= members[0].travel %>"></td>
            </tr>
            <tr>
                <td><label for="take_charge">Leader</label></td>
                <td style="text-align: left;">
                    <input type="radio" id="take_charge" name="take_charge" value="Y" <%= members[0].take_charge == true ? "checked" : "" %>>Yes<br>
                    <input type="radio" id="take_charge" name="take_charge" value="N" <%= members[0].take_charge == false ? "checked" : "" %>>No
                </td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="status" value="Active" <%= members[0].status == "Active" ? "checked" : "" %>> Active<br>
                    <input type="radio" name="status" value="Pending" <%= members[0].status == "Pending" ? "checked" : "" %>> Pending<br>
                    <input type="radio" name="status" value="Denied" <%= members[0].status == "Denied" ? "checked" : "" %>> Denied
                </td>
            </tr>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <button class="table-button" type="submit">Edit Team Member</button>
                </td>
            </tr>
        </table>
    </form>

    <form action="/users" method="GET">
        <button type="submit">Back</button>
    </form>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Tools</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>