<!-- Form to edit past events -->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Past Event</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <form action="/editPast/<%= pastEvents.event_id %>" method="POST">
        <table>
            <caption>Edit Past Event</caption>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" id="description" name="description" value="<%= pastEvents.description %>" required></td>
            </tr>
            <tr>
                <td><label for="anticipated_participants">Anticipated Participants</label></td>
                <td><input type="number" id="anticipated_participants" name="anticipated_participants" required value="<%= pastEvents.anticipated_participants %>"></td>
            </tr>
            <tr>
                <td><label for="actual_participants">Actual Participants</label></td>
                <td><input type="number" id="actual_participants" name="actual_participants" required value="<%= pastEvents.actual_participants %>"></td>
            </tr>
            <tr>
                <td><label for="under_ten">Under Ten</label></td>
                <td><input type="number" id="under_ten" name="under_ten" required value="<%= pastEvents.under_ten %>"></td>
            </tr>
            <tr hidden>
                <td><label for="possible_date">Requested Date</label></td>
                <td><input type="date" id="possible_date" name="possible_date" required value="<%= pastEvents.possible_date.toISOString().split('T')[0] %>"></td>
            </tr>
            <tr>
                <td><label for="actual_date">Actual Date</label></td>
                <td><input type="date" id="actual_date" name="actual_date" required value="<%= new Date().toISOString().split('T')[0] %>"></td>
            </tr>
            <tr>
                <td><label>Event Type</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="type" value="Sewing" <%= pastEvents.type == 'Sewing' ? 'checked' : '' %>> Sewing<br>
                    <input type="radio" name="type" value="Non-sewing"<%= pastEvents.type == 'Non-sewing' ? 'checked' : '' %>> Non-sewing<br>
                    <input type="radio" name="type" value="Both" <%= pastEvents.type == 'Both' ? 'checked' : '' %>> Both
                </td>
            </tr>
            <tr>
                <td><label for="street_address">Street Address</label></td>
                <td><input type="text" id="street_address" name="street_address" required value="<%= pastEvents.street_address %>"></td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" name="city" required value="<%= pastEvents.city %>"></td>
            </tr>
            <tr>
                <td><label for="state">State</label></td>
                <td>
                    <select id="state" name="state" required>
                        <option value="---" <%= pastEvents.state === "---" ? "selected" : "" %> >---</option>
                        <option value="AL" <%= pastEvents.state === "AL" ? "selected" : "" %>>Alabama</option>
                        <option value="AK" <%= pastEvents.state === "AK" ? "selected" : "" %>>Alaska</option>
                        <option value="AZ" <%= pastEvents.state === "AZ" ? "selected" : "" %>>Arizona</option>
                        <option value="AR" <%= pastEvents.state === "AR" ? "selected" : "" %>>Arkansas</option>
                        <option value="CA" <%= pastEvents.state === "CA" ? "selected" : "" %>>California</option>
                        <option value="CO" <%= pastEvents.state === "CO" ? "selected" : "" %>>Colorado</option>
                        <option value="CT" <%= pastEvents.state === "CT" ? "selected" : "" %>>Connecticut</option>
                        <option value="DE" <%= pastEvents.state === "DE" ? "selected" : "" %>>Delaware</option>
                        <option value="DC" <%= pastEvents.state === "DC" ? "selected" : "" %>>District of Columbia</option>
                        <option value="FL" <%= pastEvents.state === "FL" ? "selected" : "" %>>Florida</option>
                        <option value="GA" <%= pastEvents.state === "GA" ? "selected" : "" %>>Georgia</option>
                        <option value="HI" <%= pastEvents.state === "HI" ? "selected" : "" %>>Hawaii</option>
                        <option value="ID" <%= pastEvents.state === "ID" ? "selected" : "" %>>Idaho</option>
                        <option value="IL" <%= pastEvents.state === "IL" ? "selected" : "" %>>Illinois</option>
                        <option value="IN" <%= pastEvents.state === "IN" ? "selected" : "" %>>Indiana</option>
                        <option value="IA" <%= pastEvents.state === "IA" ? "selected" : "" %>>Iowa</option>
                        <option value="KS" <%= pastEvents.state === "KS" ? "selected" : "" %>>Kansas</option>
                        <option value="KY" <%= pastEvents.state === "KY" ? "selected" : "" %>>Kentucky</option>
                        <option value="LA" <%= pastEvents.state === "LA" ? "selected" : "" %>>Louisiana</option>
                        <option value="ME" <%= pastEvents.state === "ME" ? "selected" : "" %>>Maine</option>
                        <option value="MD" <%= pastEvents.state === "MD" ? "selected" : "" %>>Maryland</option>
                        <option value="MA" <%= pastEvents.state === "MA" ? "selected" : "" %>>Massachusetts</option>
                        <option value="MI" <%= pastEvents.state === "MI" ? "selected" : "" %>>Michigan</option>
                        <option value="MN" <%= pastEvents.state === "MN" ? "selected" : "" %>>Minnesota</option>
                        <option value="MS" <%= pastEvents.state === "MS" ? "selected" : "" %>>Mississippi</option>
                        <option value="MO" <%= pastEvents.state === "MO" ? "selected" : "" %>>Missouri</option>
                        <option value="MT" <%= pastEvents.state === "MT" ? "selected" : "" %>>Montana</option>
                        <option value="NE" <%= pastEvents.state === "NE" ? "selected" : "" %>>Nebraska</option>
                        <option value="NV" <%= pastEvents.state === "NV" ? "selected" : "" %>>Nevada</option>
                        <option value="NH" <%= pastEvents.state === "NH" ? "selected" : "" %>>New Hampshire</option>
                        <option value="NJ" <%= pastEvents.state === "NJ" ? "selected" : "" %>>New Jersey</option>
                        <option value="NM" <%= pastEvents.state === "NM" ? "selected" : "" %>>New Mexico</option>
                        <option value="NY" <%= pastEvents.state === "NY" ? "selected" : "" %>>New York</option>
                        <option value="NC" <%= pastEvents.state === "NC" ? "selected" : "" %>>North Carolina</option>
                        <option value="ND" <%= pastEvents.state === "ND" ? "selected" : "" %>>North Dakota</option>
                        <option value="OH" <%= pastEvents.state === "OH" ? "selected" : "" %>>Ohio</option>
                        <option value="OK" <%= pastEvents.state === "OK" ? "selected" : "" %>>Oklahoma</option>
                        <option value="OR" <%= pastEvents.state === "OR" ? "selected" : "" %>>Oregon</option>
                        <option value="PA" <%= pastEvents.state === "PA" ? "selected" : "" %>>Pennsylvania</option>
                        <option value="RI" <%= pastEvents.state === "RI" ? "selected" : "" %>>Rhode Island</option>
                        <option value="SC" <%= pastEvents.state === "SC" ? "selected" : "" %>>South Carolina</option>
                        <option value="SD" <%= pastEvents.state === "SD" ? "selected" : "" %>>South Dakota</option>
                        <option value="TN" <%= pastEvents.state === "TN" ? "selected" : "" %>>Tennessee</option>
                        <option value="TX" <%= pastEvents.state === "TX" ? "selected" : "" %>>Texas</option>
                        <option value="UT" <%= pastEvents.state === "UT" ? "selected" : "" %>>Utah</option>
                        <option value="VT" <%= pastEvents.state === "VT" ? "selected" : "" %>>Vermont</option>
                        <option value="VA" <%= pastEvents.state === "VA" ? "selected" : "" %>>Virginia</option>
                        <option value="WA" <%= pastEvents.state === "WA" ? "selected" : "" %>>Washington</option>
                        <option value="WV" <%= pastEvents.state === "WV" ? "selected" : "" %>>West Virginia</option>
                        <option value="WI" <%= pastEvents.state === "WI" ? "selected" : "" %>>Wisconsin</option>
                        <option value="WY" <%= pastEvents.state === "WY" ? "selected" : "" %>>Wyoming</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="zip">Zip</label></td>
                <td><input type="text" id="zip" name="zip" required value="<%= pastEvents.zip %>"></td>
            </tr>
            <tr>
                <td><label for="start_time">Start Time</label></td>
                <td><input type="time" id="start_time" name="start_time" required value="<%= pastEvents.start_time %>"></td>
            </tr><tr>
                <td><label for="duration">Duration</label></td>
                <td><input type="text" id="duration" name="duration" required value="<%= pastEvents.duration %>"></td>
            </tr>
            <tr>
                <td><label for="contact_name">Contact Name</label></td>
                <td><input type="text" id="contact_name" name="contact_name" required value="<%= pastEvents.contact_name %>"></td>
            </tr>
            <tr>
                <td><label for="contact_phone">Contact Phone</label></td>
                <td><input type="text" id="contact_phone" name="contact_phone" required value="<%= pastEvents.contact_phone %>"></td>
            </tr>
            <tr>
                <td><label for="contact_email">Contact Email</label></td>
                <td><input type="text" id="contact_email" name="contact_email" required value="<%= pastEvents.contact_email %>"></td>
            </tr>
            <tr>
                <td><label for="machines">Machines</label></td>
                <td><input type="number" id="machines" name="machines" required value="<%= pastEvents.machines %>"></td>
            </tr>
            <tr>
                <td><label for="sewers">Sewers</label></td>
                <td><input type="number" id="sewers" name="sewers" required value="<%= pastEvents.sewers %>"></td>
            </tr>
            <tr>
                <td><label>Did Jen share her story?</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="story" value="Yes, long" <%= pastEvents.story == 'Yes, long' ? 'checked' : '' %>> Yes, Long<br>
                    <input type="radio" name="story" value="Yes, short" <%= pastEvents.story == 'Yes, short' ? 'checked' : '' %>> Yes, Short<br>
                    <input type="radio" name="story" value="No" <%= pastEvents.story == 'No' ? 'checked' : '' %>> No
                </td>
            </tr>
            <tr>
                <td><label for="pockets">Pockets Completed</label></td>
                <td><input type="number" id="pockets" name="pockets" required value="<%= pastEvents.pockets %>"></td>
            </tr>
            <tr>
                <td><label for="collars">Collars Completed</label></td>
                <td><input type="number" id="collars" name="collars" required value="<%= pastEvents.collars %>"></td>
            </tr>
            <tr>
                <td><label for="envelopes">Envelopes Completed</label></td>
                <td><input type="number" id="envelopes" name="envelopes" required value="<%= pastEvents.envelopes %>"></td>
            </tr>
            <tr>
                <td><label for="vests">Vests Completed</label></td>
                <td><input type="number" id="vests" name="vests" required value="<%= pastEvents.vests %>"></td>
            </tr>
            <tr>
                <td><label for="members_needed">Members Needed</label></td>
                <td><input type="number" id="members_needed" name="members_needed" required value="<%= pastEvents.members_needed %>"></td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td style="text-align: left;">
                    <input type="radio" name="status" value="Pending" <%= pastEvents.status == 'Pending' ? 'checked' : '' %>> Pending<br>
                    <input type="radio" name="status" value="Approved" <%= pastEvents.status == 'Approved' ? 'checked' : '' %>> Approved<br>
                    <input type="radio" name="status" value="Denied" <%= pastEvents.status == 'Denied' ? 'checked' : '' %>> Denied<br>
                    <input type="radio" name="status" value="Completed" <%= pastEvents.status == 'Completed' ? 'checked' : '' %>> Completed
                </td>
            </tr>
            <tr>
                <td><label for="notes">Notes</label></td>
                <td><input type="text" id="notes" name="notes" required value="<%= pastEvents.notes %>"></td>
            </tr>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <button class="table-button" type="submit">Edit Event</button>
                </td>
            </tr>
        </table>
    </form>

    <form action="/pastEvents" method="GET">
        <button type="submit">Back</button>
    </form>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Tools</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
