<!-- Page displaying event requests -->
<!DOCTYPE html>
<html>
<head>
    <title>Event Requests</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <table class="summary">
        <caption>Event Requests Summary</caption>
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Requested Date</th>
                <th>Description</th>
                <th>Contact Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Edit</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <% if (eventRequests.length > 0) { %>
                <% eventRequests.forEach(row => { %>
                    <tr>
                        <input type="hidden" value="row.event_id">
                        <td><%= row.event_id %></td>
                        <td><%= new Date(row.possible_date).toLocaleDateString('en-US') %></td>
                        <td><%= row.description %></td>
                        <td><%= row.contact_name %></td>
                        <td><%= row.street_address %></td>
                        <td><%= row.city %></td>
                        <td><%= row.state %></td>
                        <td><%= row.zip %></td>
                        <td>
                            <form class="view-button-form" action="/editRequest/<%= row.event_id %>" method="GET" style="display:inline;">
                                <button class="table-button" type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form class="view-button-form" action="/viewRequest/<%= row.event_id %>" method="GET" style="display:inline;">
                                <button class="table-button" type="submit">View</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                <td colspan="7">No data available</td>
                </tr>
            <% } %>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <form class="view-button-form" action="/addRequest" method="GET">
                        <button class="table-button" type="submit">Add Requested Event</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
