
<!-- Display past events (filter events by completed) -->

<!DOCTYPE html>
<html>
<head>
    <title>Past Events</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
<main>
    <div class='tableauPlaceholder' id='viz1733348933043' style='position: relative'>
        <noscript>
            <a href='#'>
                <img alt='Past Event Data ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEXDashboard_17333471057340&#47;Dashboard1&#47;1_rss.png'/>
            </a>
        </noscript>
        <object class='tableauViz'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='INTEXDashboard_17333471057340&#47;Dashboard1' />
            <param name='tabs' value='no' /><param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IN&#47;INTEXDashboard_17333471057340&#47;Dashboard1&#47;1.png' /> 
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>                
    <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1733348933043');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
        else { vizElement.style.width='100%';vizElement.style.height='1027px';}                     
        
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement); 
    </script>
    
    <table class="summary">
        <caption>Past Events</caption>
        <thead>
            <tr>
                <!-- Headers for table to display event info -->
                <th>Event ID</th>
                <th>Date</th>
                <th>Description</th>
                <th>Contact Name</th>
                <th>Street Address</th>
                <th>Edit</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through everything in the pastEvents array -->
            <% if (pastEvents.length > 0) { %>
                <% pastEvents.forEach(row => { %>
                    <tr>
                        <!-- Add data to the table -->
                        <input type="hidden" value="row.event_id">
                        <td><%= row.event_id %></td>
                        <td><%= new Date(row.actual_date).toLocaleDateString('en-US') %></td>
                        <td><%= row.description %></td>
                        <td><%= row.contact_name %></td>
                        <td><%= row.street_address %></td>
                        <td>
                            <form class="view-button-form" action="/editPast/<%= row.event_id %>" method="GET" style="display:inline;">
                                <button class="table-button" type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form class="view-button-form" action="/viewPast/<%= row.event_id %>" method="GET" style="display:inline;">
                                <button class="table-button" type="submit">View</button>
                            </form>
                        </td>
                        <td>
                            <form class="view-button-form" action="/deletePast/<%= row.event_id %>" method="POST" style="display:inline;">
                                <button class="table-button" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                <td colspan="7">No data available</td>
                </tr>
            <% } %>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <form class="view-button-form" action="/addPast" method="GET">
                        <button class="table-button" type="submit">Add Past Event</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
