<!-- Display scheduled events -->

<!DOCTYPE html>
<html>
<head>
    <title>Scheduled Events</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <table class="summary">
        <caption>Scheduled Events</caption>
        <thead>
            <tr>
                <!-- Headers for table to display event info -->
                <th>Event ID</th>
                <th>Scheduled Date</th>
                <th>Description</th>
                <th>Contact Name</th>
                <th>Address</th>
                <th>Edit</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through everything in the scheduledEvents array -->
            <% if (scheduledEvents.length > 0) { %>
                <% scheduledEvents.forEach(row => { %>
                    <tr>
                        <!-- Add data to the table -->
                        <input type="hidden" value="row.event_id">
                        <td><%= row.event_id %></td>
                        <td hidden><%= row.possible_date %></td>
                        <td><%= new Date(row.actual_date).toLocaleDateString('en-US') %></td>
                        <td><%= row.description %></td>
                        <td><%= row.contact_name %></td>
                        <td><%= row.address %></td>
                        <td>
                            <form class="view-button-form" action="/editScheduled/<%= row.event_id %>" method="GET">
                                <button class="table-button" type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form class="view-button-form" action="/viewScheduled/<%= row.event_id %>" method="GET">
                                <button class="table-button" type="submit">View</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                <td colspan="7">No data available</td>
                </tr>
            <% } %>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <form class="view-button-form" action="/addScheduled" method="GET">
                        <button class="table-button" type="submit">Add Scheduled Event</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
