<!-- Display volunteers -->


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Volunteer Requests</title>
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Home</button></a>
            <a href="/users"><button class="link">Team Members</button></a>
            <a href="/showVolunteers"><button class="link">Volunteer Requests</button></a>
            <a href="/eventRequests"><button class="link">Event Requests</button></a>
            <a href="/scheduledEvents"><button class="link">Scheduled Events</button></a>
            <a href="/pastEvents"><button class="link">Past Events</button></a>
        </div>
    </nav>
    <table>
        <caption>Volunteer Requests</caption>
        <thead>
                <th>Volunteer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Edit</th>
                <th>View</th>
                <th>Delete</th>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < members.length; iCount++) { %>
                <tr>
                    <td><%= members[iCount].volunteer_id %></td>
                    <td><%= members[iCount].first_name %></td>
                    <td><%= members[iCount].last_name %></td>
                    <td><%= members[iCount].phone %></td>
                    <td><%= members[iCount].email %></td>
                    <td>
                        <form class="view-button-form" action="/editVolunteer/<%= members[iCount].volunteer_id %>" method="GET">
                            <button class="table-button" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form class="view-button-form" action="/viewVolunteer/<%= members[iCount].volunteer_id %>" method="GET">
                            <button class="table-button" type="submit">View</button>
                        </form>
                    </td>
                    <td>
                        <form class="view-button-form" action="/deleteVolunteer/<%= members[iCount].volunteer_id %>" method="POST">
                            <button class="table-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <form action="/addVolunteer" method="GET">
        <button type="submit">Add Volunteer Request</button>
    </form>

    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
