<!-- Display users -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Team Members</title>
</head>
<body>
    <nav>
        <div class="org-name">Turtle Shelter Project</div>
        <div class="nav-links">
            <a href="/landing2"><button class="link">Admin Tools</button></a>
            <a href="/"><button class="link">Home Page</button></a>
        </div>
    </nav>
    <table class="summary">
        <caption>Team Members</caption>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Monthly Hours</th>
            <th>City</th>
            <th>Travel</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount = 0; iCount < members.length; iCount++) { %>
                <tr>
                    <td><%= members[iCount].volunteer_id %></td>
                    <td><%= members[iCount].first_name %></td>
                    <td><%= members[iCount].last_name %></td>
                    <td><%= members[iCount].phone %></td>
                    <td><%= members[iCount].email %></td>
                    <td><%= members[iCount].monthly_hours %></td>
                    <td><%= members[iCount].city %></td>
                    <td><%= members[iCount].travel %></td>
                    <td>
                        <form class="view-button-form" action="/editUser/<%= members[iCount].volunteer_id %>" method="GET">
                            <button class="table-button" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form class="view-button-form" action="/viewUser/<%= members[iCount].volunteer_id %>" method="GET">
                            <button class="table-button" type="submit">View</button>
                        </form>
                    </td>
                    <td>
                        <form class="view-button-form" action="/deleteUser/<%= members[iCount].volunteer_id %>" method="POST">
                            <button class="table-button" type="submit" onclick = "return confirm ('Are you sure you want to delete this record?')">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
            <tr>
                <td colspan="11" style="text-align: center; width: 100%;">
                    <form class="view-button-form" action="/addUser" method="GET">
                        <button class="table-button" type="submit">Add Team Member</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>



    <main></main>
    <footer> 
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
