<!-- View all the details of a single volunteer when you click on it -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Volunteer Information</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Title -->
        <h1><b>Volunteer Information:</b></h1>
        <br><br>
        <!-- It's not an array, so you can just display from the one object -->
        <label><b>Volunteer ID</b></label>
        <p><%= showVolunteers.volunteer_id %></p>
        <br>
        <label><b>First Name</b></label>
        <p><%= showVolunteers.first_name %></p>
        <br>
        <label><b>Last Name</b></label>
        <p><%= showVolunteers.last_name %></p>
        <br>
        <label><b>Phone</b></label>
        <p><%= showVolunteers.phone %></p>
        <br>
        <label><b>Email</b></label>
        <p><%= showVolunteers.email %></p>
        <br>
        <label><b>Referral Source</b></label>
        <p><%= showVolunteers.referral_source %></p>
        <br>
        <label><b>Sewing Level</b></label>
        <p><%= showVolunteers.sewing_level %></p>
        <br>
        <label><b>Monthly Hours</b></label>
        <p><%= showVolunteers.monthly_hours %></p>
        <br>
        <label><b>City</b></label>
        <p><%= showVolunteers.city %></p>
        <br>
        <label><b>Username</b></label>
        <p><%= showVolunteers.username %></p>
        <br>
        <label><b>Password</b></label>
        <p><%= showVolunteers.password %></p>
        <br>
        <label><b>How far will they Travel?</b></label>
        <p><%= showVolunteers.travel %></p>
        <br>
        <label><b>Will They take charge?</b></label>
        <p><%= showVolunteers.take_charge %></p>
        <br>
        <label><b>Status</b></label>
        <p><%= showVolunteers.status %></p>
        
        <!-- Button to return to home page -->
        <form action="/showVolunteers" method="GET">
            <button type="submit">Return</button>
        </form>
    </body>
</html>
