<!-- View all the details of a single scheduled event when you click on it -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Past Event</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <div class="org-name">Turtle Shelter Project</div>
            <div class="nav-links">
                <a href="/landing2"><button class="link">Admin Tools</button></a>
                <a href="/"><button class="link">Home Page</button></a>
            </div>
        </nav>
        <table class="view">
            <caption>Scheduled Event Details</caption>
            <tr>
                <td><label>Event ID</label></td>
                <td><p><%= scheduledEvents.event_id %></p></td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><p><%= scheduledEvents.description %></p></td>
            </tr>
            <tr>
                <td><label>Anticipated Paricipants</label></td>
                <td><p><%= scheduledEvents.anticipated_participants %></p></td>
            </tr>
            <tr>
                <td><label>Participants Under Ten</label></td>
                <td><p><%= scheduledEvents.under_ten %></p></td>
            </tr>
            <tr>
                <td><label>Requested Date</label></td>
                <td><p><%= new Date(scheduledEvents.possible_date).toLocaleDateString('en-US') %></p></td>
            </tr>
            <tr>
                <td><label>Scheduled Date</label></td>
                <td><p><%= new Date(scheduledEvents.actual_date).toLocaleDateString('en-US') %></p></td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td><p><%= scheduledEvents.type %></p></td>
            </tr>
            <tr>
                <td><label>Street Address</label></td>
                <td><p><%= scheduledEvents.street_address %></p></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td><p><%= scheduledEvents.city %></p></td>
            </tr>
            <tr>
                <td><label>State</label></td>
                <td><p><%= scheduledEvents.state %></p></td>
            </tr>
            <tr>
                <td><label>Zip</label></td>
                <td><p><%= scheduledEvents.zip %></p></td>
            </tr>
            <tr>
                <td><label>Start Time</label></td>
                <td><p><%= scheduledEvents.start_time %></p></td>
            </tr>
            <tr>
                <td><label>Duration</label></td>
                <td><p><%= scheduledEvents.duration %></p></td>
            </tr>
            <tr>
                <td><label>Contact Name</label></td>
                <td><p><%= scheduledEvents.contact_name %></p></td>
            </tr>
            <tr>
                <td><label>Contact Phone</label></td>
                <td><p><%= scheduledEvents.contact_phone %></p></td>
            </tr>
            <tr>
                <td><label>Contact Email</label></td>
                <td><p><%= scheduledEvents.contact_email %></p></td>
            </tr>
            <tr>
                <td><label>Machines</label></td>
                <td><p><%= scheduledEvents.machines %></p></td>
            </tr>
            <tr>
                <td><label>Sewers</label></td>
                <td><p><%= scheduledEvents.sewers %></p></td>
            </tr>
            <tr>
                <td><label>Story</label></td>
                <td><p><%= scheduledEvents.story %></p></td>
            </tr>
            <tr>
                <td><label>Members Needed</label></td>
                <td><p><%= scheduledEvents.members_needed %></p></td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td><p><%= scheduledEvents.status %></p></td>
            </tr>
            <tr>
                <td><label>Notes</label></td>
                <td><p><%= scheduledEvents.notes %></p></td>
            </tr>
        </table>
        <form action="/scheduledEvents" method="GET">
            <button type="submit">Back</button>
        </form>
    <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Tools</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
    </body>
</html>
