<!-- View all the details of a single requested event when you click on it -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Past Event</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <div class="org-name">Turtle Shelter Project</div>
            <div class="nav-links">
                <a href="/landing2"><button class="link">Admin Home</button></a>
                <a href="/users"><button class="link">Team Members</button></a>
                <a href="/showVolunteers"><button class="link">Volunteer Requests</button></a>
                <a href="/eventRequests"><button class="link">Event Requests</button></a>
                <a href="/scheduledEvents"><button class="link">Scheduled Events</button></a>
                <a href="/pastEvents"><button class="link">Past Events</button></a>
            </div>
        </nav>
        <table class="view">
            <caption>Event Request <%= eventRequests.event_id %> Details</caption>
            <tr>
                <td><label>Event ID</label></td>
                <td><p><%= eventRequests.event_id %></p></td>
            </tr>
            <tr>
                <td><label>Description</label></td>
                <td><p><%= eventRequests.description %></p></td>
            </tr>
            <tr>
                <td><label>Anticipated Paricipants</label></td>
                <td><p><%= eventRequests.anticipated_participants %></p></td>
            </tr>
            <tr>
                <td><label>Participants Under Ten</label></td>
                <td><p><%= eventRequests.under_ten %></p></td>
            </tr>
            <tr>
                <td><label>Requested Date</label></td>
                <td><p><%= new Date(eventRequests.possible_date).toLocaleDateString('en-US') %></p></td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td><p><%= eventRequests.type %></p></td>
            </tr>
            <tr>
                <td><label>Address</label></td>
                <td><p><%= eventRequests.address %></p></td>
            </tr>
            <tr>
                <td><label>Start Time</label></td>
                <td><p><%= eventRequests.start_time %></p></td>
            </tr>
            <tr>
                <td><label>Duration</label></td>
                <td><p><%= eventRequests.duration %></p></td>
            </tr>
            <tr>
                <td><label>Contact Name</label></td>
                <td><p><%= eventRequests.contact_name %></p></td>
            </tr>
            <tr>
                <td><label>Contact Phone</label></td>
                <td><p><%= eventRequests.contact_phone %></p></td>
            </tr>
            <tr>
                <td><label>Contact Email</label></td>
                <td><p><%= eventRequests.contact_email %></p></td>
            </tr>
            <tr>
                <td><label>Machines</label></td>
                <td><p><%= eventRequests.machines %></p></td>
            </tr>
            <tr>
                <td><label>Sewers</label></td>
                <td><p><%= eventRequests.sewers %></p></td>
            </tr>
            <tr>
                <td><label>Story</label></td>
                <td><p><%= eventRequests.story %></p></td>
            </tr>
            <tr>
                <td><label>Members Needed</label></td>
                <td><p><%= eventRequests.members_needed %></p></td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td><p><%= eventRequests.status %></p></td>
            </tr>
            <tr>
                <td><label>Notes</label></td>
                <td><p><%= eventRequests.notes %></p></td>
            </tr>
        </table>
        <form action="/eventRequests" method="GET">
            <button type="submit">Return</button>
        </form>
        <main></main>
    <footer>
        <div class="footer-left">
            <a href="/login">Admin Portal</a>
            <a href="/about">About</a>
            <a href="/volunteer">Volunteer</a>
        </div>
        <div class="footer-right">
            <p>© 2024 Turtle Shelter Project. All rights reserved.</p>
        </div>
    </footer>
    </body>
</html>
