<!-- View all the details of a single scheduled event when you click on it -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Display Past Event</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Title -->
        <h1><b>Event Details:</b></h1>
        <br><br>
        <!-- It's not an array, so you can just display from the one object -->
        <label><b>Event ID</b></label>
        <p><%= scheduledEvents.event_id %></p>
        <br>
        <label><b>Description</b></label>
        <p><%= scheduledEvents.description %></p>
        <br>
        <label><b>Anticipated Paricipant</b></label>
        <p><%= scheduledEvents.anticipated_participants %></p>
        <br>
        <label><b>Under Ten</b></label>
        <p><%= scheduledEvents.under_ten %></p>
        <br>
        <label><b>Possible Date</b></label>
        <p><%= scheduledEvents.possible_date %></p>
        <br>
        <label><b>Type</b></label>
        <p><%= scheduledEvents.type %></p>
        <br>
        <label><b>Address</b></label>
        <p><%= scheduledEvents.address %></p>
        <br>
        <label><b>Start Time</b></label>
        <p><%= scheduledEvents.start_time %></p>
        <br>
        <label><b>Duration</b></label>
        <p><%= scheduledEvents.duration %></p>
        <br>
        <label><b>Contact Name</b></label>
        <p><%= scheduledEvents.contact_name %></p>
        <br>
        <label><b>Contact Phone</b></label>
        <p><%= scheduledEvents.contact_phone %></p>
        <br>
        <label><b>Contact Email</b></label>
        <p><%= scheduledEvents.contact_email %></p>
        <br>
        <label><b>Machines</b></label>
        <p><%= scheduledEvents.machines %></p>
        <br>
        <label><b>Sewers</b></label>
        <p><%= scheduledEvents.sewers %></p>
        <br>
        <label><b>Story</b></label>
        <p><%= scheduledEvents.story %></p>
        <br>
        <label><b>Members Needed</b></label>
        <p><%= scheduledEvents.members_needed %></p>
        <br>
        <label><b>Status</b></label>
        <p><%= scheduledEvents.status %></p>
        <br>
        <label><b>Notes</b></label>
        <p><%= scheduledEvents.notes %></p>
        <br>
        
        <!-- Button to return to home page -->
        <form action="/scheduledEvents" method="GET">
            <button type="submit">Return</button>
        </form>
    </body>
</html>
